<p>Estimado <%= @resource.email %>!</p>

<p>Acaba de ser invitado a unirse a <%= root_url %>, puede aceptar haciendo clic en.</p>

<p><%= link_to 'Aceptar invitación', accept_invitation_url(@resource, :invitation_token => @resource.invitation_token) %></p>

<p>Si no desea aceptar la invitación, por favor ignore este email.<br />
Su cuenta no será creada hasta que defina una clave para ella.</p>