<p>Hola <%= @resource.email %>!</p>

<p>Se ha solicitado cambio en la clave, y puede cambiarla al hacer clic en el siguiente link.</p>

<p><%= link_to 'Cambiar mi clave', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si usted no solicitó esto, por favor ignore este email.</p>
<p>Su clave no será cambiada hasta que acceda al link e ingrese una nueva clave.</p>
